{% extends "base.html" %}

{% block title %}About Us - CoffeeBucks{% endblock %}

{% block content %}
<section class="about-sections">
    <h2 class="about-title">About Us</h2>
    <p class="about-description"> At CoffeeBucks, we are passionate about delivering
        the finest coffee experience to our customers. Our journey began with a simple 
        idea: to create a welcoming space where coffee lovers can come together 
        and enjoy exceptional brews. We source our beans from the best coffee-growing 
        regions around the world, ensuring that every cup we serve is rich in 
        flavor and aroma. Our skilled baristas are dedicated to crafting each 
        drink with care and precision, using traditional brewing methods and 
        innovative techniques. Whether you're looking for a classic espresso, a 
        creamy latte, or a refreshing iced coffee, CoffeeBucks is your go-to destination for 
        quality and taste. Join us on this caffeinated adventure and discover your new 
        favorite brew!
    </p>
</section>
<style>
    .about-sections {
        background-image: url("{{ url_for('static', filename='img/coffeebeans.jpg')}}");
        min-height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;
        font-size: 18px;
    }

    .about-title {
        text-shadow: 4px 4px 4px rgba(10, 239, 167, 0.5);
        color: #05070b;
        font-size: 50px;
    }

    .about-description {
        color: rgb(10, 10, 10);
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<section class="about-slideshow">
    <h2 class="about-title">Our Journey</h2>
    <p> Coming soon...</p>
</section>
<style>
    .about-title h2 {
        font-size: 50px;
    }
</style>
<!-- about our shop cards: Craft & Quality, Community & Connection, Sustainability & Responsibility, our team -->
<section class="our-mission-section">
    <h2 class="about-title">Our Mission</h2>
    <p> Coming soon...</p>
</section>
<style>
    .our-mission-section {
        background-color: rgb(166, 164, 164);
        min-height: 400px;
    }
</style>
<!-- shop photos section -->
<section class="Our-shop-photo">
    <h2 class="about-title">Our Shop Photos</h2>
    <p> Coming soon...</p>
</section>
<style>
    .Our-shop-photo {
        background-color:bisque;
        min-height: 400px;
    }
</style>

{% endblock %}